/* Style untuk halaman utama */
body {
    background-image: url("/pa_web(fokus)/img/header-bg.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
  }
.box {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(26, 188, 156, 0.8);
    max-width: 450px;
    border-radius: 5px;
    margin: 50px auto;
    overflow: hidden;
    opacity: 0.7;
  }
  
  h2 {
    text-align: center;
  }
  
  form {
    margin: 0 auto;
    width: 400px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #ccc;
    text-align: center; /* menambahkan style text-align: center; */
  }
  
  label {
    display: inline-block;
    margin-bottom: 10px;
    text-align: left; /* menambahkan style text-align: left; */
  }
  
  label[for="username"], label[for="password"] {
    text-align: left;
  }
  
  
  input[type="text"],
  input[type="password"],
  input[type="tel"],
  textarea,
  select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  input[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #3e8e41;
  }
  
  a {
    color: #4CAF50;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  /* Style untuk halaman login */
  #username,
  #password {
    margin-bottom: 30px;
  }
  
  /* Style untuk halaman sign-up */
  #name,
  #phone,
  #address {
    margin-bottom: 20px;
  }
  
  #status,
  #gender {
    margin-bottom: 20px;
  }
  